.colorWhite (@opacity: 1) {
    color: rgba(255, 255, 255, @opacity);
}

.backgroundWhite (@opacity: 1) {
    background: rgba(255, 255, 255, @opacity);
}

.backgroundBlack (@opacity: 1) {
    background: rgba(0, 0, 0, @opacity);
}