.font-heading(@font-size: 36px, @line-height: 40px, @font-weight: 600) {
    font-family: "Cuprum", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: @font-size;
    line-height: @line-height;
    font-weight: @font-weight;
}

@slopeAngle: 2deg;
@placeBorder: solid 1px rgba(0, 0, 0, 0.2);