.textShadowWhiteExtraSmall (@opacity: 0.75) {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, @opacity);
}

.textShadowWhiteSmall (@opacity: 0.75) {
    text-shadow: 2px 1px 1px rgba(0, 0, 0, @opacity);
}

.textShadowWhiteLarge (@opacity: 0.75) {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, @opacity);
}