@import "bootstrap/bootstrap.less";
@import "colors.less";
@import "shadows.less";
@import "paths.less";
@import "common.less";

html {
    position: relative;
    min-height: 100%
}

body {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 80px;
}

:focus,
:link:focus {
    outline: 0
}

section {
    min-height: 100vh;

    &.gradient:before {
        position: absolute;
        width: 100%;
        height: 100px;
        border-top: solid 1px rgba(0, 0, 0, .15);
        #gradient>.vertical(rgba(0, 0, 0, .075); rgba(0, 0, 0, 0));
        content: '';
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px
}

#navbar {
    background-color: rgba(255, 255, 255, .9);
    .transition(background-color .25s);
    border-radius: 0
}

#navbar:hover {
    background-color: #fff
}

#navbar.stuck {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100
}

#navbar {
    .navbar-brand {
        padding: 0 15px;
        vertical-align: middle;
        line-height: 50px;
        outline: none;

        h1 {
            margin: 0;
            .font-heading(18px, 18px, 400);
            display: inline-block;
            vertical-align: middle;
            color: #000;
        }
    }

    .speciality {
        font-size: 14px;
        line-height: 40px;
        float: left;
        border-left: dotted 1px #c0c0c0;
        margin: 5px 0;
        padding: 0 15px;
    }

    .container-fluid:focus {
        outline: 0
    }
}

.h3-highlight {
    padding: 50px 0 30px 0;
    .clearfix();

    &.first {
        padding: 18px 0 40px 0;
    }

    .outer-container {
        left: -50%;
        float: right;
        position: relative;

        .relative-container {
            left: 50%;
            position: relative;

            .background-container {
                padding: 12px 50px;
                transform: rotate(-@slopeAngle);
                background: rgba(255, 0, 0, .5);

                h3 {
                    .font-heading(32px, 40px, 600);
                    letter-spacing: 1px;
                    color: #fff;
                    text-transform: uppercase;
                    .textShadowWhiteSmall();
                    margin: 0;
                    transform: rotate(@slopeAngle);
                }
            }
        }
    }
}

h4 {
    .font-heading(24px, 30px, 400);
    margin: 40px 0 10px
}

h4:first-of-type {
    margin: 0 0 10px
}

h5 {
    .font-heading(22px, 30px, 400);
}

.sub-heading {
    text-align: center;
    margin: 0 auto 15px auto;
}

.portfolio .sub-heading {
    text-align: center;
    margin: 15px auto;
}

.title {
    position: relative;
    background: url('@{images}/fullscreen-me-2.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;

    .scroll-down {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 70px;
        height: 100px;
        line-height: 100px;
        margin: -50px 0 0 -35px;
        background: rgba(255, 103, 95, .8);
        background-size: 32px 32px;
        outline: none;
        .opacity(0);
        animation: scroll-down-fade-in .5s 1.5s linear forwards;

        @keyframes scroll-down-fade-in {
            100% {
                .opacity(1);
            }
        }

        svg {
            transform: translateY(-8px);
            vertical-align: middle;
            animation: up-and-down 1s 2s ease-in-out infinite;

            @keyframes up-and-down {
                40% {
                    transform: translateY(8px);
                }

                100% {
                    transform: translateY(-8px);
                }
            }

            polygon {
                fill: #fff
            }
        }
    }

    .language-box {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #fff;
        .textShadowWhiteExtraSmall();

        a,
        a:hover,
        a:visited,
        a:visited:hover {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            outline: none;
        }
    }

    .title-table {
        #gradient>.vertical(rgba(0, 0, 0, .6); rgba(0, 0, 0, .6));
        display: table;
        border-collapse: collapse;
        flex: 1 1 auto;

        .title-row {
            display: table-row;

            .title-cell {
                display: table-cell;
                vertical-align: middle;
                text-align: center;

                h2 {
                    .font-heading(72px, 80px 600);
                    letter-spacing: 1px;
                    .colorWhite(.9);
                    .textShadowWhiteLarge();
                    margin: 0 0 10px;
                    transform: translateY(-50px);
                    .opacity(0);
                    animation: h2-fade-in-and-move 1s linear forwards;

                    @keyframes h2-fade-in-and-move {
                        100% {
                            transform: translateY(0);
                            .opacity(1);
                        }
                    }
                }

                .speciality {
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 1px;
                    .colorWhite(.9);
                    .textShadowWhiteLarge();
                    margin: 0;
                    transform: translateY(20px);
                    .opacity(0);
                    animation: speciality-fade-in-and-move .5s 1s linear forwards;

                    @keyframes speciality-fade-in-and-move {
                        100% {
                            transform: translateY(0);
                            .opacity(1);
                        }
                    }
                }
            }
        }
    }
}

.activity-box {
    height: 330px;

    &:after {
        background: #000;
        .opacity(.4);
        content: '';
        top: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 1;
        .transition(opacity .25s);
    }

    &:hover {
        &:after {
            .opacity(.7);
        }
    }

    .box-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;

        .box-table {
            display: table;
            width: 100%;
            height: 100%;
            border-collapse: collapse;

            .box-row {
                display: table-row;

                .box-cell {
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                    padding: 0 40px;
                    overflow: hidden;

                    .box-heading {
                        .font-heading(24px, 28px, 400);
                        .textShadowWhiteSmall();
                        letter-spacing: 1px;
                        color: #fff;
                        margin: 0;
                        text-transform: uppercase;

                        span {
                            font-size: 34px;
                        }
                    }

                    .box-sub-heading {
                        .font-heading(14px, 20px, 400);
                        .textShadowWhiteSmall();
                        font-style: italic;
                        letter-spacing: 1px;
                        color: #fff;

                        &:empty {
                            margin: 0;
                        }

                        a,
                        a:visited,
                        a:hover,
                        a:visited:hover {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.about .activity-box-background:nth-child(1) {
    background: url('@{images}/activity-software-development.jpg') center center no-repeat;
    background-size: cover;
}

.about .activity-box-background:nth-child(2) {
    background: url('@{images}/activity-uk.jpg') center center no-repeat;
    background-size: cover;
}

.about .activity-box-background:nth-child(3) {
    background: url('@{images}/activity-belgrade.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    margin-top: 30px;

    .face {
        text-align: center;

        .avatar {
            display: inline-block;
            vertical-align: middle;

            img {
                width: 90px;
                height: 90px;
                border-radius: 50% 50%;
            }

        }

        .name {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 20px;

            .font-heading(24px, 30px, 400);
            letter-spacing: 1px;
            text-transform: uppercase;

        }
    }

    .details {
        margin-top: 30px;
    }

    p {
        text-align: justify;
    }
}

.social-media {
    margin: 5px 0 0 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            margin: 0;
            padding: 0;
            display: block;
            margin: 0 10px 0 0;
            transform: translateY(300px);

            &:last-child {
                margin: 0;
            }

            a {
                display: block;
                width: 36px;
                height: 36px;
                border-radius: 5px;
                text-decoration: none;
            }

            svg {
                filter: drop-shadow(2px 2px 3px rgb(0 0 0 / .4));

                rect {
                    fill: transparent;
                }
            }
        }
    }
}

.education .activity-box-background:nth-child(1) {
    background: url('@{images}/activity-bauman.jpg') center center no-repeat;
    background-size: cover;
}

.education .activity-box-background:nth-child(2) {
    background: url('@{images}/activity-london.jpg') center center no-repeat;
    background-size: cover;
}

.education .activity-box-background:nth-child(3) {
    background: url('@{images}/activity-books.jpg') center center no-repeat;
    background-size: cover;
}

.education-places {

    .place {
        padding: 25px 0;
        border-bottom: @placeBorder;

        &:last-child {
            border-bottom: none;
        }

        .place-date {
            text-transform: uppercase;
            .font-heading(20px, 30px, 400);

            span {
                font-size: 14px;
            }
        }

        .place-description {
            border-left: @placeBorder;

            p {
                text-align: justify;
                margin: 0 0 8px 0;

                &.place-description-heading {
                    .font-heading(24px, 30px, 400);

                    a {
                        color: @text-color;
                    }

                    span {
                        font-size: 17px;
                    }
                }

                &.place-description-sub-heading {
                    .font-heading(18px, 22px, 400);
                    margin: 0 0 15px 0;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}

.github-logo {
    text-align: center;
    margin: 20px 0 45px 0;

    a {
        opacity: .3;
        .transition(opacity .5s ease);

        &:hover {
            opacity: .6;
        }

        svg {
            width: 48px;
            height: 48px;
            filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.4));
        }
    }
}

.contacts {
    .education-places {
        .place {
            .place-description {
                border-left: none;
            }
        }
    }

    &.visited {
        .social-media ul li {
            &.icon-linkedin {
                transform: translateY(0);
                .transition(transform .5s ease);
            }

            &.icon-github {
                transform: translateY(0);
                .transition(transform .5s .5s ease);
            }

            &.icon-fb {
                transform: translateY(0);
                .transition(transform .5s 1s ease);
            }

            &.icon-instagram {
                transform: translateY(0);
                .transition(transform .5s 1.5s ease);
            }
        }
    }
}

.experience .activity-box-background:nth-child(1) {
    background: url('@{images}/activity-it-department.jpg') center center no-repeat;
    background-size: cover;
}

.experience .activity-box-background:nth-child(2) {
    background: url('@{images}/activity-london-city.jpg') center center no-repeat;
    background-size: cover;
}

.experience .activity-box-background:nth-child(3) {
    background: url('@{images}/activity-laptop2.jpg') center center no-repeat;
    background-size: cover;
}

/*
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 60px;

    li {
        padding: 0;
        display: block;
        height: 40px;
        .opacity(.8);
        margin: 0 10px 10px 0;

        &:last-child {
            margin: 0;
        }

        &.asp-net-mvc {
            background: url('@{images}/technology-asp-net-mvc.svg') no-repeat;
            background-size: 126px 40px;
            width: 126px;
        }

        &.visual-studio {
            background: url('@{images}/technology-visual-studio.svg') no-repeat;
            background-size: 93px 40px;
            width: 93px;
        }

        &.sql-server {
            background: url('@{images}/technology-sql-server.svg') no-repeat;
            background-size: 93px 40px;
            width: 93px;
        }

        &.bootstrap {
            background: url('@{images}/technology-bootstrap.svg') no-repeat;
            background-size: 115px 30px;
            width: 115px;
            height: 30px;
        }

        &.yii {
            background: url('@{images}/technology-yii.svg') no-repeat;
            background-size: 157px 40px;
            width: 157px;
        }

        &.less {
            background: url('@{images}/technology-less.svg') no-repeat;
            background-size: 90px 40px;
            width: 90px;
        }

        &.html5 {
            background: url('@{images}/technology-html5.svg') no-repeat;
            background-size: 40px 40px;
            width: 40px;
        }

        &.php {
            background: url('@{images}/technology-php.svg') no-repeat;
            background-size: 76px 40px;
            width: 76px;
        }

        &.mysql {
            background: url('@{images}/technology-mysql.svg') no-repeat;
            background-size: 59px 40px;
            width: 59px;
        }

        &.c-sharp {
            background: url('@{images}/technology-c-sharp.svg') no-repeat;
            background-size: 40px 40px;
            width: 40px;
            height: 40px;
        }

        &.wpf {
            background: url('@{images}/technology-wpf.svg') no-repeat;
            background-size: 40px 40px;
            width: 40px;
            height: 40px;
        }

        &.sqlite {
            background: url('@{images}/technology-sqlite.svg') no-repeat;
            background-size: 90px 40px;
            width: 90px;
        }

        &.modx {
            background: url('@{images}/technology-modx.svg') no-repeat;
            background-size: 129px 40px;
            width: 129px;
        }

        &.delphi {
            background: url('@{images}/technology-delphi.svg') no-repeat;
            background-size: 113px 40px;
            width: 113px;
        }
    }
}
*/

.contacts .activity-box-background:nth-child(1) {
    background: url('@{images}/activity-skype.jpg') center center no-repeat;
    background-size: cover;
}

.contacts .activity-box-background:nth-child(2) {
    background: url('@{images}/activity-people.jpg') center center no-repeat;
    background-size: cover;
}

.contacts .activity-box-background:nth-child(3) {
    background: url('@{images}/activity-mail.jpg') center center no-repeat;
    background-size: cover;
}

footer {
    padding: 15px 0;
    box-sizing: border-box;
    background: #ECECEC;
    border-top: solid 1px rgba(0, 0, 0, .15);

    p {
        font-size: 13px;
        line-height: 20px;
        padding: 0;
        margin: 0 0 5px 0;

        &:last-child {
            margin: 0;
        }

        a,
        a:visited,
        a:hover,
        a:visited:hover {
            color: @text-color;
            text-decoration: underline;
        }
    }
}

.screen-width {
    position: fixed;
    color: orange;
    font-size: 100px;
    z-index: 9999;

    &:after {
        content: 'large';
    }
}

.anchor {
    display: block;
    position: relative;
    top: -52px;
    visibility: hidden
}

@media (max-width: @screen-xs-max) {
    .title {
        min-height: auto;
        height: calc(100vh - 56px);

        .title-table {
            .title-row {
                .title-cell {
                    h2 {
                        .font-heading(60px, 65px, 600);
                    }

                    .speciality {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    .h3-highlight {
        .outer-container {
            .relative-container {
                .background-container {
                    padding: 10px 30px;

                    h3 {
                        .font-heading(28px, 32px, 600);
                    }
                }
            }
        }
    }

    .portfolio .sub-heading {
        text-align: center;
        margin: 10px auto;
    }

    .education-places {
        .place {
            .place-description {
                border-left: none;

                p {
                    &.place-description-heading {
                        text-align: left;
                    }

                    &.place-description-sub-heading {
                        text-align: left;
                    }
                }
            }
        }
    }

    .about-text {
        .face {
            .avatar {
                display: block;
            }

            .name {
                display: block;
                margin: 20px 0 0 0;
            }
        }
    }

    .activity-box {
        height: 200px;
    }

    .activity-box:nth-child(2) {
        &:after {
            .opacity(.6);
        }
    }

    .portfolio-list {
        li {
            height: 200px;
        }
    }

    .social-media {
        margin: 10px 0 0 0;

        .outer-container {
            .relative-container {
                ul {
                    li {
                        margin: 0 15px 0 0;

                        a {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    body {
        margin-bottom: 100px
    }

    footer {
        height: 100px;
        padding: 15px
    }

    .screen-width {
        &:after {
            content: 'extra small';
        }
    }

    .portfolio-list {
        display: block;
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .title {
        min-height: auto;
        height: calc(100vh - 56px);
    }

    .h3-highlight {
        .outer-container {
            .relative-container {
                .background-container {
                    padding: 10px 30px;

                    h3 {
                        .font-heading(28px, 32px, 600);
                    }
                }
            }
        }
    }

    .portfolio .sub-heading {
        text-align: center;
        margin: 15px auto;
    }

    .education-places {
        .place {
            .place-description {
                border-left: none;

                p {
                    &.place-description-heading {
                        text-align: left;
                    }

                    &.place-description-sub-heading {
                        text-align: left;
                    }
                }
            }
        }
    }

    .activity-box {
        height: 250px;
    }

    .activity-box:nth-child(2) {
        &:after {
            .opacity(.6);
        }
    }

    .social-media {
        margin: 10px 0 0 0;

        .outer-container {
            .relative-container {
                ul {
                    li {
                        margin: 0 15px 0 0;

                        a {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    .screen-width {
        &:after {
            content: 'small';
        }
    }

}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    .title {
        min-height: auto;
        height: calc(100vh - 56px);
    }

    .h3-highlight {
        .outer-container {
            .relative-container {
                .background-container {
                    padding: 10px 30px;

                    h3 {
                        .font-heading(28px, 32px, 600);
                    }
                }
            }
        }
    }

    .portfolio .sub-heading {
        text-align: center;
        margin: 10px auto;
    }

    .social-media {
        margin: 10px 0 0 0;

        .outer-container {
            .relative-container {
                ul {
                    li {
                        margin: 0 15px 0 0;

                        a {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    .screen-width {
        &:after {
            content: 'medium';
        }
    }

}

@media (min-width: @screen-lg-min) {}